@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewSpotify.Web.Models.SearchArtistResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="Jumbotron">
            <h2>Results</h2>
            <p>Here are some acts we think you would enjoy..</p>
        </div>
    </div>
    <br />
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>
                    Band
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Released
                </th>
            </tr>

            @foreach (var band in Model.Artists.Items)
            {
                <tr>
                    <td>
                        @band.Name
                    </td>
                    <td>
                        @band.Id
                    </td>
                    <td>
                        @band.Name
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
