@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewSpotify.Web.Models.SearchArtistResponse

@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-4 mt-4">
    <h4>Search results</h4>
</div>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                Band
            </th>
            <th>
                Popularity
            </th>
        </tr>

        @foreach (var band in Model.Artists.Items)
        {
            <tr>
                <td>
                    <img src="@band.Images.FirstOrDefault()?.Url" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />  @band.Name
                </td>
                <td>
                    @band.Popularity
                </td>
            </tr>
        }
    </table>
</div>

